# Performing T-test

In [2]:
# T-Test
# T test is a type of inferential statistic which is used to determine if there is 
# significant difference between the means of two groups(samples) which are related in certain features.
# T-test types
# One Sample T-test-It tells us whether there is a difference between sample mean and poupulation mean
# Two Sample T-test-It compares the means of two groups to statistically intfer if there is a 
# significant difference in the associated population means
#please note: Kindly google the formula :-)

In [4]:
#I am taking iris dataset to perform ttest on sepal length
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
#load the dataframe
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [7]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
df.shape

(150, 4)

In [9]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [10]:
# Performing one sample T-test
# take sepal length as a population and randomly choose 100 samples for test
# #population of sepal length is stored in a list named sepal_length
sepal_length=df['sepal length (cm)']

In [14]:
print(sepal_length[0])
len(sepal_length)

5.1

150

In [15]:
#take 50 random samples from sepal_length list
sample_sepal_length_size=50
sepal_length_sample=np.random.choice(sepal_length,sample_sepal_length_size)

In [21]:
print(sepal_length_sample)

[7.4 6.8 6.5 6.6 5.1 6.2 6.5 5.  7.3 5.6 5.8 5.2 5.  5.  6.7 6.2 6.  6.4
 4.8 5.  6.9 7.7 5.1 6.4 5.3 6.6 5.7 6.3 5.7 6.1 6.1 5.  7.9 6.8 5.6 5.5
 6.7 5.6 5.4 6.4 4.7 6.1 5.9 6.4 5.5 5.8 6.2 5.4 5.5 5.4]

In [22]:
#we know the mean of ppopulation: Sepal length in df.describe
sepal_length_mean=np.mean(sepal_length)
print(sepal_length_mean)
sepal_length_sample_mean=np.mean(sepal_length_sample)
print(sepal_length_sample_mean)

5.843333333333334
5.975999999999999

In [19]:
#import ttest for one sample from scipy.stats
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(sepal_length_sample,5.8)

ttest: This variable will store the t-statistic calculated from the one-sample t-test. The t-statistic is a measure of how many standard deviations the sample mean is from the hypothetical mean (in this case, 5.8).

p_value: This variable will store the p-value associated with the t-statistic. The p-value indicates the probability of obtaining the observed results (or more extreme) if the null hypothesis is true. In this context, a lower p-value suggests stronger evidence against the null hypothesis.

ttest_1samp(): This function is part of the scipy.stats module in Python and is used for conducting a one-sample t-test. It takes two main arguments:

The sample data (sepal_length_sample): This is the data for which you want to test the mean.
The hypothetical mean (5.8): This is the mean under the null hypothesis.
The result of the t-test, including the t-statistic and p-value, will be stored in ttest and p_value variables, respectively.

In summary, this line of code performs a one-sample t-test on the sepal_length_sample, comparing its mean to a hypothetical mean of 5.8, and stores the calculated t-statistic and p-value for further analysis or interpretation.

In [20]:
print(p_value)

0.11064685962542231

In [ ]:
If p_value<0.05---->we reject the null hypothesis
here null hypotesis says there is no significant difference between the mean of the sample 
and mean of the population

Since 0.11 is not less than 0.05 we accept the null hypothesis

Please note: 0.05 is a significance value defined by domain expert

In [23]:
#Two sample T test
#Let us consider Petal length and Sepal Length as two sapmes and perform ttest on the same
Petal_length=df['petal length (cm)']
Sepal_length=df['sepal length (cm)']
Petal_length.shape

(150,)

In [24]:
Sepal_length.shape

(150,)

In [25]:
#import the statistics and maths libraries
import scipy.stats as stats
import math
_,p_value=stats.ttest_ind(a=Petal_length,b=Sepal_length,equal_var=False)

In summary, this line of code performs an independent two-sample t-test comparing the means 
of the heights in Petal_length and Sepal_length, 
and it stores the calculated p-value for further analysis or interpretation. 
The assumption of unequal variances is specified using equal_var=False.

In [26]:
p_value

4.2621732726319293e-29

Here p_value is very very less p<<0.05, hence we reject null hypothesis
Null hypothesis in this two samples test specifies whether the means of Petal length and Sepal length are associated